table, th, td {
  border: 1px solid;
}

.large-text-wrap {
  inline-size: 600px; 
}

.primary-button {
  background-color: khaki;
  border: 2px dashed;
  padding: 2cap;
}

.secondary-button {
  background-color: palegreen;
  color: red;
  padding: 1cap;
}
